.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-footer {
  background-color: var(--blue);
  padding: 10px;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.api-container {
  background-color: var(--api-form-bg);
  width: 29%;
  height: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 25px;
  border-radius: 30px;
  border-color: var(--form-border);
  border-style: solid;
  font-size: 20px;
  font-family:'Trebuchet MS';
  display: inline-block;
  text-align: center;
}


.content-area {
  background-color: var(--bg-color);
  padding: 150px;
  margin: 0px;
  border: 1px solid var(--solid);
}

.main-nav {
  padding-top: 20px;
}

.main-nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.main-nav li {
  margin: 0 15px;
}

.main-nav a {
  text-decoration: none;
  color: var(--nav-text);
  font-weight: bold;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 4px;
}

.main-nav a:hover {
  background-color: var(--nav-hover);
  color: var(--nav-text-hover)
}

nav {
  background-color: var(--solid);
  padding: 15px;
  border-radius: 5px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 20px;
}

/* OTHER */
.page-content {
  text-align: left;
}

.Submit-Button {
  background-color: var(--blue);
  border: none;
}

.Submit-Button:hover {
  background-color: var(--lighter-blue);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link-button {
  background-color: var(--orange);
  color: var(--text-light);
  font-weight: bold;
  font-size: larger;
  text-align: center;
  text-decoration: none;
  width: 220px;
  height: 40%;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  display: inline;
}

.link-button:hover{
  background-color: var(--lighter-orange);
  color: var(--text-light);
}

.quiz-info {
  padding: 20px;
  display: flex;
}

.help-chat {
  height: 50%;
  width: 20%; 
  border-radius: .25rem;
  border: solid;
  border-color: black;
  position: fixed;
  background: var(--solid);
  bottom: 110px;
  right: 10px;
  padding: 10px;
  overflow-y: scroll;
}

.chat-button, .chat-button:hover {
  background-color: transparent;
  border: none;
  padding: 0px;
  font-size: 40px;
  position: fixed;
  bottom: 110px;
  right: 10px;
  transition: none;
}


/* QUIZ QUESTION UI */

.question-container {
  padding: 30px 300px ;
}

.option:has(input[type=radio]) {
  display: grid;
  flex-direction: row;
  text-align: center;
  border-radius: .5rem;
  border: solid;
  border-color: var(--option-outline);
  background: var(--option-bg);
  margin: 5px;
}

.option:has(input[type=radio]:checked) {
  background: var(--option-selected);
  transition: color .15s ease-in-out;
  background-color: .15s ease-in-out;
  border-color: .15s ease-in-out; 
  box-shadow: .15s ease-in-out;
}

label {
  padding:10px;
}

input[type=radio] {
  position: absolute;
  opacity: 0;
}

label:hover, label:active {
  background: var(--option-hover);
  transition: .15s;
}

input[type=radio]:checked:hover+label {
  background: var(--option-selected);
  transition: 0.3s
}

.questions-text {
  text-align: center;
}

.quiz-page-content {
  text-align: center;
}

/* PROGESS BAR */
progress {
  position: fixed;
  border-radius: 7px; 
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 22px;
  box-shadow: 3px 2px 2px rgba(130, 130, 130, 0.2);
}

progress::-webkit-progress-bar {
  background-color: rgb(225, 224, 219);
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: rgb(78, 140, 190);
  border-radius: 7px;
}


/* DARK MODE SLIDER */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

}

.switch:hover {
  background: none;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #688aa8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #688aa8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

