.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-footer {
  background-color: #3c4e73;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.api-container {
  background-color: white;
  width: 29%;
  height: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 25px;
  border-radius: 30px;
  border-color: #e4e9ed;
  border-style: solid;
  font-size: 20px;
  font-family:'Trebuchet MS';
  display: inline-block;
  text-align: center;
}


.content-area {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 150px;
  border: 1px solid #ddd;
}

.main-nav {
  margin-top: 20px;
}

.main-nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.main-nav li {
  margin: 0 15px;
}

.main-nav a {
  text-decoration: none;
  color: #53443e;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 4px;
}

.main-nav a:hover {
  background-color: #fff7e9;
}

.page-content {
  text-align: left;
}

.Submit-Button {
  background-color: #3c4e73;
  border: none;
}

.Submit-Button:hover {
  background-color: #465f8f;
}

.mt-4 {
  margin-top: 1.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link-button {
  background-color: #ca7718;
  color: white;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  text-decoration: none;
  width: 220px;
  height: 40%;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  display: inline;
}

.link-button:hover{
  background-color: #d68527;
  color: white;
}

.quiz-info {
  padding: 20px;
  display: flex;
}

.help-chat {
  height: 50%;
  width: 20%; 
  border-radius: .25rem;
  border: solid;
  border-color: black;
  position: fixed;
  background: white;
  bottom: 110px;
  right: 10px;
  padding: 10px;
  overflow-y: scroll;
}

.chat-button, .chat-button:hover {
  background-color: transparent;
  border: none;
  padding: 0px;
  font-size: 40px;
  position: fixed;
  bottom: 110px;
  right: 10px;
  transition: none;
}


.question-container {
  padding: 10px
}