.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-footer {
  background-color: #3c4e73;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.api-container {
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.content-area {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 150px;
  border: 1px solid #ddd;
}

.main-nav {
  margin-top: 20px;
}

.main-nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.main-nav li {
  margin: 0 15px;
}

.main-nav a {
  text-decoration: none;
  color: #53443e;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 4px;
}

.main-nav a:hover {
  background-color: #fff7e9;
}

.page-content {
  text-align: left;
}

.Submit-Button {
  background-color: #0066cc;
  border: none;
}

.mt-4 {
  margin-top: 1.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link-button {
  background-color: #ca7718;
  color: white;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
}

.link-button:hover{
  background-color: #e18720;
  color: white;
}