/* index.css */
:root {
  color-scheme: light dark;
  --orange: #ca7718;
  --lighter-orange: #d68527;
  --nav-hover: #fff7e9;
  --nav-text: #53443e;
  --nav-text-hover: #8e6152;
  --blue: #3c4e73;
  --lighter-blue: #465f8f;
  --bg-color: #efefed;
  --form-border: #e4e9ed;
  --api-form-bg: white;
  --solid: white;
  --option-selected: rgb(188, 211, 171);
  --option-hover: rgb(224, 222, 222);
  --option-bg: rgb(236, 234, 234);
  --option-outline: rgb(224, 222, 222);
  --text-dark: rgb(108, 104, 104);
  --text-light: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  
  color:#211d1b;
}

.dark-mode {
  color: white;
  background-color: #2c2b2a;
  --orange: #b7660a;
  --lighter-orange: #bd7019;
  --nav-hover: #323647;
  --nav-text: #d9d9d9;
  --nav-text-hover: white;
  --blue: #292c36;
  --lighter-blue: #343b45;
  --bg-color: rgb(57, 57, 60);
  --form-border: #42464a;
  --api-form-bg: #515054;
  --solid: #2c2b2a;
  --option-selected: rgb(122, 158, 94);
  --option-hover: rgb(50, 46, 50);
  --option-bg: rgb(64, 61, 65);
  --option-outline: rgb(50, 46, 50);
  --text-dark: white;
  --text-light: white;
}

h1 {
  font-size: calc(2rem + 1.5vw);
}

