/* index.css */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  
  color:#211d1b;
}

h1 {
  font-size: calc(2rem + 1.5vw);
}

nav {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #8e6152;
  font-weight: bold;
}

nav a:hover {
  color: #8e6152;
}

.App { 
}